#RewriteCond %{REQUEST_URI} ..(.)$ [OR]
#RewriteCond %{REQUEST_URI} ^(.)(/api/).$ [OR]
#RewriteRule ^(.*)$ - [L]
#RewriteRule ^(.*)$ /index.html

#RewriteCond %{REQUEST_URI} ^(.)(/api/).$ [OR]
RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|html?|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf|map)$

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^(.*)$ /index.html [L]
RewriteRule ^(.*)$ /index.html [L]